<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>JhiCer- TECH</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo.png" rel="icon">
  <link href="assets/img/logo.png" rel="apple-touch-icon">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
  <!-- Vendor CSS Files -->
  <link type="text/css" href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link type="text/css" href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link type="text/css" href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link type="text/css" href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link type="text/css" href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link type="text/css" href="assets/vendor/toaststr/toastr.min.css" rel="stylesheet">
  <link type="text/css" href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link type="text/css" href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link type="text/css" href="assets/css/style.css" rel="stylesheet">
  <link type="text/css" href="assets/css/pagination.pager.css" rel="stylesheet">


</head>